<div class="card">
    <div class="card-body">
        <h1>About KaiaC</h1>

        <pre>KaiaC is an opensource project developed by AgoraLabs</pre>
        <pre>KaiaC source code can be found here on Bitbucket : https://bitbucket.org/jekobokidou/kaiac/</pre>

        <pre>KaiaC is packaged and distributed as a Linux Debian package : http://repo-kaiac-prod.skyscaledev.com/v$VERSION/apt-repo/</pre>
        
        <a href="https://www.agoralabs.org" class="btn btn-primary" target="_blank">Visit AgoraLabs website</a>
    </div>
</div>


