
<div class="card">
    <div class="card-body">
        <h1>Infrastructure As Code made simpler</h1>
        <h5 class="card-subtitle text-muted">Kaiac is a tool made to simplify Infrastructure As Code. Kaiac is built on top of Terraform and allow you to create cloud resources just with few key values.</h5>

        <span class="logo-text">
            <!-- Light Logo text -->
            <img
              src="assets/images/galery/intro-explanation.png"
              class="dark-logo"
              alt="homepage"
              width="100%"
            />
        </span>

        <h3>The key features of Kaiac are:</h3>

        <ul>
            <li>
            <p><strong>Infrastructure as Key Value</strong>: Infrastructure is described using a simple configuration syntax. This allows a blueprint of your datacenter to be versioned and treated as you would any other code. Additionally, infrastructure can be shared and re-used.</p>
            </li>
            <li>
            <p><strong>Terraform features</strong>: Kaiac mostly used Terraform in backgroup so you can inherit all the powerfull Terraform features like execution plans. For more information on Terraform, refer to the <a data-is-external-link="true" href="https://www.terraform.io/intro" rel="nofollow">What is Terraform?</a> page on the Terraform website.</p>
            </li>
        </ul>

        <a href="/install" class="btn btn-primary">Install Kaiac now!</a>

    </div>
</div>


<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info text-info">
                <i class="bi bi-bag"></i>
            </div>
            <div class="ms-3">
                <h3 class="mb-0 font-weight-bold">+10k</h3>
                <small class="text-muted fs-3">Downloads counter</small>
            </div>
        </div>
    </div>
</div>
