<div class="card">
    <div class="card-body">
        <h1>KaiaC Roadmap</h1>

        <h2>kaiac 0.0.10</h2>
        <pre>NOT RELEASED : Scheduled this year Q2</pre>
        <ul class="list-unstyled feed-body m-0">
            <li class="feed-item d-flex align-items-center mb-3">
                <span class="p-2 bg-info rounded-circle d-inline-block ms-3"></span>
                <h5 class="mb-0 fw-normal ms-3">Add kubernetes support</h5>
            </li>
        </ul>

        <h2>kaiac 0.0.9</h2>
        <pre>NOT RELEASED : Scheduled this year Q1</pre>
        <ul class="list-unstyled feed-body m-0">
            <li class="feed-item d-flex align-items-center mb-3">
                <span class="p-2 bg-info rounded-circle d-inline-block ms-3"></span>
                <h5 class="mb-0 fw-normal ms-3">Add Composition apply/destroy not interactive</h5>
            </li>
            <li class="feed-item d-flex align-items-center mb-3">
                <span class="p-2 bg-info rounded-circle d-inline-block ms-3"></span>
                <h5 class="mb-0 fw-normal ms-3">Add Composition apply/destroy interactive</h5>
            </li>
            <li class="feed-item d-flex align-items-center mb-3">
                <span class="p-2 bg-info rounded-circle d-inline-block ms-3"></span>
                <h5 class="mb-0 fw-normal ms-3">AWS Amplify application support</h5>
            </li>
        </ul>

        <h2>kaiac 0.0.8</h2>
        <pre>RELEASED</pre>
        <ul class="list-unstyled feed-body m-0">
            <li class="feed-item d-flex align-items-center mb-3">
                <span class="p-2 bg-info rounded-circle d-inline-block ms-3"></span>
                <h5 class="mb-0 fw-normal ms-3">Add kaiac compose for kvbooks orchestration (also add kaiac next and kaiac back)</h5>
            </li>
        </ul>

        <h2>kaiac 0.0.7</h2>
        <pre>RELEASED</pre>
        <ul class="list-unstyled feed-body m-0">
            <li class="feed-item d-flex align-items-center mb-3">
                <span class="p-2 bg-info rounded-circle d-inline-block ms-3"></span>
                <h5 class="mb-0 fw-normal ms-3">Add new kvbooks : VPCEndpoint, VMOnly, S3bucket</h5>
            </li>
            <li class="feed-item d-flex align-items-center mb-3">
                <span class="p-2 bg-info rounded-circle d-inline-block ms-3"></span>
                <h5 class="mb-0 fw-normal ms-3">Add Alfresco solution support</h5>
            </li>
            <li class="feed-item d-flex align-items-center mb-3">
                <span class="p-2 bg-info rounded-circle d-inline-block ms-3"></span>
                <h5 class="mb-0 fw-normal ms-3">Add Moodle solution support</h5>
            </li>
        </ul>

        <h2>kaiac 0.0.6</h2>
        <pre>RELEASED</pre>
        <ul class="list-unstyled feed-body m-0">
            <li class="feed-item d-flex align-items-center mb-3">
                <span class="p-2 bg-info rounded-circle d-inline-block ms-3"></span>
                <h5 class="mb-0 fw-normal ms-3">Add new kvbooks : VPC, ALB, VM, VMGroup, TGGroup, S3website, ECRCopy</h5>
            </li>
        </ul>

        <a href="/about" class="btn btn-primary">About KaiaC</a>
    </div>
</div>


