<div class="card">
    <div class="card-body">
        <h1>KvBook Lambda</h1>
        <h5 class="card-subtitle text-muted">The Lambda KvBook allow you to create a Lambda function, and expose it through an API Gateway endpoint.</h5>

        <h2>Design</h2>
        <pre>This is what you can create with a Lambda KvBook</pre>
        <pre>
        <img
        src="assets/images/galery/kvbooks/kvbooks-LAMBDA.png"
        alt="kvbooks-LAMBDA"
        width="80%"/>
        </pre>

        <h2>Key/Value parameters</h2>
        <div class="table-responsive">
            <table class="table table-hover align-middle text-nowrap table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">#</th>
                        <th class="text-dark font-medium fs-4">Name</th>
                        <th class="text-dark font-medium fs-4">Example value</th>
                        <th class="text-dark font-medium fs-4">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>GL_AWS_REGION</td>
                        <td>us-west-2</td>
                        <td>The AWS region your resources will be deployed</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>GL_AWS_CRED_FILE_PATH</td>
                        <td>~/.aws/credentials</td>
                        <td>The AWS credentials file path</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>GL_AWS_CRED_PROFILE</td>
                        <td>default</td>
                        <td>The AWS credentials profile</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>GL_KAIAC_MODULE</td>
                        <td>lambda</td>
                        <td>The name of kaiac module to run</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>GL_NAMESPACE</td>
                        <td>dbdump001</td>
                        <td>The application global resources namespace</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>GL_NAME</td>
                        <td>demo1</td>
                        <td>The application name</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>GL_STAGE</td>
                        <td>staging</td>
                        <td>The application stage name</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>GL_AWS_ROUTE53_DOMAIN</td>
                        <td>skyscaledev.com</td>
                        <td>The Route53 Domain name</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>GL_DNS_RECORD_TTL</td>
                        <td>300</td>
                        <td>The DNS record TTL</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>LA_NAME</td>
                        <td>send_command</td>
                        <td>The lambda function name</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>LA_RUNTIME</td>
                        <td>nodejs16.x</td>
                        <td>The lambda function runtime</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>LA_TIMEOUT</td>
                        <td>30</td>
                        <td>The lambda function timeout</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>LA_STAGE</td>
                        <td>staging</td>
                        <td>The lambda function stage name</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>LA_APIGW_SUBDOMAIN</td>
                        <td>lamb001</td>
                        <td>The lambda function API Gateway sub domain</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>LA_SOURCE_DIR</td>
                        <td>/root/demo-kaiac-lambda</td>
                        <td>The lambda function source directory</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2>Results</h2>
        <pre>Go to your Lambda Service console.</pre>
        <pre>You should see your Lambda Function, you can try to call your function using a tool like Postman or curl in command line.</pre>

        <h2>Try</h2>
        <pre>You can use this KvBook to try to use Lambda with KaiaC :</pre>
        <pre>
GL_AWS_REGION="us-west-2"
GL_AWS_CRED_FILE_PATH="~/.aws/credentials"
GL_AWS_CRED_PROFILE="default"
GL_KAIAC_MODULE="lambda"
GL_NAMESPACE="lamb001"
GL_NAME="demo1"
GL_STAGE="staging"
GL_AWS_ROUTE53_DOMAIN="skyscaledev.com"
GL_DNS_RECORD_TTL="300"
LA_NAME="send_command"
LA_RUNTIME="nodejs16.x"
LA_TIMEOUT="30"
LA_STAGE="staging"
LA_APIGW_SUBDOMAIN="lamb001"
LA_SOURCE_DIR="/root/demo-kaiac-lambda"
            
            
        </pre>

        <a href="/roadmap" class="btn btn-primary">Take a look at KaiaC Roadmap</a>
    </div>
</div>


