<div class="card">
    <div class="card-body">
        <h1>KvBook VPC</h1>
        <h5 class="card-subtitle text-muted">The VPC KvBook allow you to create a VPC with KaiaC.</h5>

        <h2>Design</h2>
        <pre>This is what you can create with a VPC KvBook</pre>
        <pre>
        <img
        src="assets/images/galery/kvbooks/kvbooks-VPC.png"
        alt="kvbooks-VPC"
        width="90%"/>
        </pre>

        <h2>Key/Value parameters</h2>
        <div class="table-responsive">
            <table class="table table-hover align-middle text-nowrap table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">#</th>
                        <th class="text-dark font-medium fs-4">Name</th>
                        <th class="text-dark font-medium fs-4">Example value</th>
                        <th class="text-dark font-medium fs-4">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>GL_AWS_REGION</td>
                        <td>us-west-2</td>
                        <td>The AWS region your resources will be deployed</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>GL_AWS_AZS</td>
                        <td>us-west-2a,us-west-2b</td>
                        <td>The AWS azs your resources will be deployed</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>GL_AWS_CRED_FILE_PATH</td>
                        <td>~/.aws/credentials</td>
                        <td>The AWS credentials file path</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>GL_AWS_CRED_PROFILE</td>
                        <td>default</td>
                        <td>The AWS credentials profile</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>GL_KAIAC_MODULE</td>
                        <td>vpc</td>
                        <td>The name of kaiac module to run</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>GL_NAMESPACE</td>
                        <td>vpc001</td>
                        <td>The application global resources namespace</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>GL_NAME</td>
                        <td>demo1</td>
                        <td>The application name</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>GL_STAGE</td>
                        <td>staging</td>
                        <td>The application stage name</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>GL_VPC_CREATE</td>
                        <td>true</td>
                        <td>The Flag to create VPC or not</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>GL_VPC_ENABLE_NAT_GATEWAY</td>
                        <td>true</td>
                        <td>The Flag to enable NAT GATEWAY</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>GL_VPC_SINGLE_NAT_GATEWAY</td>
                        <td>true</td>
                        <td>The Flag for single NAT GATEWAY</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>GL_VPC_USE_PRIVATE_SUBNETS</td>
                        <td>true</td>
                        <td>The Flag to use private subnets if true else public subnets</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>GL_VPC_CIDR</td>
                        <td>10.0.0.0/16</td>
                        <td>The VPC cidr block</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>GL_VPC_CIDR_SUBNET1</td>
                        <td>10.0.101.0/24</td>
                        <td>The subnet1 cidr block</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>GL_VPC_CIDR_SUBNET2</td>
                        <td>10.0.102.0/24</td>
                        <td>The subnet2 cidr block</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>GL_VPC_CIDR_SUBNET_PRV1</td>
                        <td>10.0.1.0/24</td>
                        <td>The private subnet1 cidr block</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>GL_VPC_CIDR_SUBNET_PRV2</td>
                        <td>10.0.2.0/24</td>
                        <td>The private subnet2 cidr block</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2>Results</h2>
        <pre>Go to your AWS VPC Service console.</pre>
        <pre>Your VPC should be created with the name GL_NAMESPACE-GL_NAME-GL_STAGE-vpc</pre>

        <h2>Try</h2>
        <pre>You can use this KvBook to try to create a vpc with KaiaC :</pre>
        <pre>
GL_AWS_REGION="us-west-2"
GL_AWS_CRED_FILE_PATH="~/.aws/credentials"
GL_AWS_CRED_PROFILE="default"
GL_KAIAC_MODULE="vpc"
GL_NAMESPACE="vpc001"
GL_NAME="demo1"
GL_STAGE="staging"
GL_AWS_AZS="us-west-2a,us-west-2b"
GL_VPC_CREATE="true"
GL_VPC_ENABLE_NAT_GATEWAY="true"
GL_VPC_SINGLE_NAT_GATEWAY="true"
GL_VPC_USE_PRIVATE_SUBNETS="true"
GL_VPC_CIDR="10.0.0.0/16"
GL_VPC_CIDR_SUBNET1="10.0.101.0/24"
GL_VPC_CIDR_SUBNET2="10.0.102.0/24"
GL_VPC_CIDR_SUBNET_PRV1="10.0.1.0/24"
GL_VPC_CIDR_SUBNET_PRV2="10.0.2.0/24"
        </pre>

        <a href="/roadmap" class="btn btn-primary">Take a look at KaiaC Roadmap</a>
    </div>
</div>


