<div class="card">
    <div class="card-body">
        <h1>Install KaiaC</h1>

        <h3>1) Make sure you have a Debian virtual with AWS CLI :</h3>
        <h4 class="card-subtitle text-muted">KaiaC is released as a Debian package, so to work properly, KaiaC needs the following.</h4>
        <ul>
            <li><strong>A Debian or Ubuntu virtual machine : </strong> You can use Vagrant and VirtualBox to easily create a virtual machine inside your current PC. Click on this link <a href="https://www.openlogic.com/blog/how-use-vagrant-and-virtualbox" target="_blank">How-use-Vagrant-and-VirtualBox</a>. For Ubuntu, you can use this <a href="https://app.vagrantup.com/bento/boxes/ubuntu-20.04" target="_blank">Vagrant Box</a></li>
            <li><strong>AWS CLI installed on the virtual machine : </strong> To install or update to the latest version of the AWS CLI, Click on this link <a href="https://docs.aws.amazon.com/cli/latest/userguide/getting-started-install.html" target="_blank">Getting-started-install</a></li>
        </ul>

        <h3>2) Make sure you have some utilities : </h3>
        <pre>$ sudo apt-get update && sudo apt-get install -y gnupg software-properties-common</pre>

        <h3>3) Choose KaiaC version you want :</h3>
        <pre>$ VERSION="0.0.9"</pre>

        <h3>4) Add the KaiaC GPG key :</h3>
        <pre>$ wget -O- http://repo-kaiac-prod.skyscaledev.com/v$VERSION/gpg | gpg --dearmor | sudo tee /usr/share/keyrings/kaiac-keyring.gpg</pre>

        <h3>5) Add the official KaiaC Linux repository :</h3>
        <pre>$ echo "deb [arch=amd64 signed-by=/usr/share/keyrings/kaiac-keyring.gpg] http://repo-kaiac-prod.skyscaledev.com/v$VERSION/apt-repo stable main" | sudo tee /etc/apt/sources.list.d/kaiac.list</pre>

        <h3>6) Download and refresh package index :</h3>
        <pre>$ sudo apt update</pre>

        <h3>7) Finally install KaiaC :</h3>
        <pre>$ sudo apt-get install kaiac</pre>

        <h1>Verify KaiaC</h1>
        <h3>To verify your installation, use the following command :</h3>
        <strong><pre>$ kaiac env</pre></strong>

        <h3>The result should look like :</h3>
        <pre>
        VERSION     = <font color="green">0.0.9</font>
        STATE       = bucket<font color="green">[Not defined]</font> region<font color="green">[us-west-2]</font> profile<font color="green">[default]</font>
        RESOURCES   = region<font color="green">[us-west-2]</font> profile<font color="green">[default]</font>
        COMPOSITION = <font color="green">Not defined</font>
        KVBOOK      = <font color="green">Not defined</font>
        MODULE      = <font color="green">Not defined</font>
        CONTEXT     = namespace<font color="green">[Not defined]</font> name<font color="green">[Not defined]</font> stage<font color="green">[Not defined]</font>
        </pre>
        <a href="/documentation" class="btn btn-primary">Use KaiaC now</a>
    </div>
</div>


